In [11]:
import pandas as pd
import numpy as np
from pandas.plotting import scatter_matrix
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

Since we don't need all the categories in the dataset as we are only focusing on analyzing the lyrics and the singer. We will be dropping every other category from the dataset.

In [2]:
data = pd.read_csv('songlyrics/songdata.csv')
data.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

As we can see here, what will be useful to the library is the artist and text column. Both the song name and the link is not necessary. Thus, we will be dropping these two columns.

In [3]:
to_drop = ['song',
           'link']
data.drop(to_drop, inplace=True, axis=1)

In [4]:
data.head()

  artist                                               text
0   ABBA  Look at her face, it's a wonderful face  \nAnd...
1   ABBA  Take it easy with me, please  \nTouch me gentl...
2   ABBA  I'll never know why I had to go  \nWhy I had t...
3   ABBA  Making somebody happy is a question of give an...
4   ABBA  Making somebody happy is a question of give an...

Now we see that both the unnecessary columns and the data corresponding to them were removed.

It is useful to change the index of the dataset we have into a more useful one. For this, we will be using the unique identifier as the index. However, since the dataset did not come with a unique identifier, we will be adding a new column that assign a unique number to every single row.

In [5]:
data.insert(0, 'Identifier', range(0, 0 + len(data)))

In [6]:
data.head()

   Identifier artist                                               text
0           0   ABBA  Look at her face, it's a wonderful face  \nAnd...
1           1   ABBA  Take it easy with me, please  \nTouch me gentl...
2           2   ABBA  I'll never know why I had to go  \nWhy I had t...
3           3   ABBA  Making somebody happy is a question of give an...
4           4   ABBA  Making somebody happy is a question of give an...

We will first check if the identifier column does not contain repeated values.

In [7]:
data['Identifier'].is_unique

True

We will now replace the existing index with the Identifier column.

In [8]:
data = data.set_index('Identifier')

In [10]:
data.tail()

                  artist                                               text
Identifier
57645       Ziggy Marley  Irie days come on play  \nLet the angels fly l...
57646       Ziggy Marley  Power to the workers  \nMore power  \nPower to...
57647               Zwan  all you need  \nis something i'll believe  \nf...
57648               Zwan  northern star  \nam i frightened  \nwhere can ...
57649               Zwan  come in  \nmake yourself at home  \ni'm a bit ...